<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Number of seats:</strong>
  <%= @restaurant.number_of_seats %>
</p>

<p>
  <strong>Type:</strong>
  <%= @restaurant.type %>
</p>

<%= image_tag(@snippet.image_url.to_s) %>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
